<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head th:include="layout/partials/head (pageTitle='Broadleaf Commerce Demo Store - Heat Clinic')"></head>

<body th:class="${'locale-' + session.blLocale.localeCode}">
    <th:block th:replace="layout/partials/nav" />

    <div class="main">
        <div class="container">
                <div id="carousel-slider-generic" class="row carousel slide" data-ride="carousel">
                        <!--Carousel Indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-slider-generic" class="active">
                            </li>
                            <li data-target="#carousel-slider-generic">
                            </li>
                            
                            <li data-target="#carousel-slider-generic">
                            </li>
                            <li data-target="#carousel-slider-generic">
                            </li>
                        </ol>
                        <!--End of Carousel Indicators-->
                    
                        <!--Carousel Slides-->
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="/hot-sauces">
                                    <img blc:src="@{/cmsstatic/img/banners/shirt-special.jpg}" style="width: 100%"/>
                                </a>
                            </div>
                            <div class="item">
                                <a href="/register">
                                    <img blc:src="@{/cmsstatic/img/banners/shirt-special.jpg}" style="width: 100%"/>
                                </a>
                            </div>
                            
                            <div class="item">
                                <a href="/hot-sauces/sudden_death_sauce">
                                    <img blc:src="@{/cmsstatic/img/banners/shirt-special.jpg}" style="width: 100%"/>
                                </a>
                            </div>
                            <div class="item">
                                <a href="/hot-sauces/bull_snort_cowboy_cayenne_pepper_hot_sauce">
                                    <img blc:src="@{/cmsstatic/img/banners/shirt-special.jpg}" style="width: 100%"/>
                                </a>
                            </div>
                        </div>
                        <!--End of Slides-->
                    
                        <!-- Carousel Controls -->
                        <a class="left carousel-control" href="#carousel-slider-generic" data-slide="prev">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </a>
                        <a class="right carousel-control" href="#carousel-slider-generic" data-slide="next">
                            <i class="material-icons">keyboard_arrow_right</i>
                        </a>
                        <!--End Controls-->
                    </div>
                    <!--END of Homepage Ad Banner Carousel-->
            <!-- <div class="row">
                <a th:href="@{/merchandise}">
                    <img class="img-responsive full-width" blc:src="@{/cmsstatic/img/banners/shirt-special.jpg}" />
                </a>
                <a th:href="@{/merchandise}">
                    <img class="img-responsive full-width" blc:src="@{/cmsstatic/img/banners/shirt-special.jpg}" />
                </a>
            </div> -->

            <div class="container">

                <div class="row text-center">
                    <div class="col-sm-4 col-md-4">
                        <img src="" alt="">
                        <span>
                            <h3></h3>
                            <p></p>
                        </span>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <h3 class="text-center">
                        Shop by room
                    </h3>

                    <th:block th:if="${products}" id="products" class="group" th:each="product : ${products}" th:object="${product}" >
                        <div class="col-sm-6 col-md-3"  th:if="${product.isActive()}"
                             th:include="catalog/partials/productListItem">
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <th:block layout:fragment="post-content" />

    <footer th:replace="layout/partials/footer"></footer>
</body>
</html>
