<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user-circle"></i>
    </a>
    <ul class="dropdown-menu account-actions">
        <li>
            <a th:href="@{/login}">Sign in or Register</a>
        </li>
        <li>
            <i class="fa fa-user-circle"></i>
            <a th:href="@{/login}">My Account</a>
        </li>
        <li>
            <i class="fa fa-lightbulb"></i>
            <a th:href="@{/login}">My Orders</a>
        </li>
        <li>
            <i class="fa fa-question-circle"></i>
            <a th:href="@{/login}">Help</a>
        </li>
        <!-- <li>
                <a th:href="@{/logout}" th:utext="#{home.logout}">Logout</a>
            </li> -->
    </ul>
</li>